* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #d4ddef;
  min-height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #5b6e93; */
}

header .logo {
  width: 100px;
  height: 50px;
  /* background-color: #d4ddef; */
}
.logo img {
  margin-top: 5px;
  width: 100%;

  /* background-color: #aac6e9; */
}

/* CONTAINER - PRINCIPAL */
.container {
  max-width: 100vw;
  margin: 0px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px; */
}

/*/SECCION 1*/
.seccion1_left {
  display: flex;
  flex: 0 0.5 40%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #98a7c7; */
  margin-left: 200px;
  min-width: 15%;
  height: 110%;
}
.cajatexto::placeholder {
  color: #0a3871;
}
.contenedorcajatexto {
  height: 600px;
  width: 100%;

  /* background-color: blanchedalmond; */
}
textarea {
  border: none;
  background-color: transparent;
  cursor: pointer;
  /*/ width: 79%; */
  width: 100%;
  height: 100%;
  font-size: 25px;
  resize: none;
  color: #0a3871;
  /* background-color: azure; */
}

textarea:focus {
  outline: none;
}
.cajabotones {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100px;
  width: 80%;
  /* background-color: darkolivegreen; */
}
.alerta {
  display: flex;
  min-width: max-content;
  gap: 10px;
  margin-right: 460px;
  /* background-color: darkkhaki; */
}
.error {
  animation: shakeAndBlink 1s infinite alternate; /* Animación de movimiento y parpadeo */
}
@keyframes shakeAndBlink {
  0%,
  100% {
    transform: translate(0, 0);
    color: black;
    font-weight: bold;
  }
  10%,
  90% {
    transform: translate(-1px, -2px);
    color: red;
    font-weight: bold;
  }
  20%,
  80% {
    transform: translate(-3px, 0px);
    color: black;
    font-weight: bold;
  }
  30%,
  70% {
    transform: translate(3px, 2px);
    color: red;
    font-weight: bold;
  }
  40%,
  60% {
    transform: translate(1px, -1px);
    color: black;
    font-weight: bold;
  }
  50% {
    transform: translate(-1px, 2px);
    color: red;
    font-weight: bold;
  }
}
.seccion1_left p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  transition: color 0.5s ease-in-out; /* Transición suave de color */
}
.contenedor-botones {
  width: 100%;
  display: flex;
  margin-top: 10px;
  gap: 15px;
  /* background-color: darkseagreen; */
}

.seccion1_left input:hover,
.seccion2_right input:hover {
  background-color: #0b55eb;
  color: #fff;
  cursor: pointer;
  transition: all ease 400ms;
  transform: scale(1.05);
}
.btn-encriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.btn-desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #d8dfe8;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: 1px solid #0a3871;
  cursor: pointer;
}

/*/ SECCION 2 */
.seccion2_right {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex: 0.5 10 20%;
  min-width: 0;
  /*/ height: 700px; */
  justify-content: center;
  /*/ justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
  gap: 5px;
}

.seccion2_right img {
  max-width: 100%;
}
.contenedormunieco {
  /* background-color: darkgrey; */
  width: fit-content;
  order: 1;
}

.contenedor-parrafo {
  display: flex;
  flex-direction: column;
  min-width: 69%;
  order: 1;
  box-sizing: border-box;
  /* background-color: gray; */
}
.contenedor-parrafo h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #343a40;
}
.contenedor-parrafo p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}
.contenedor-resultado {
  display: flex;
  width: 100%;
  /*/ height: 90%; */
  height: 100%;
  box-sizing: border-box;
  /* background-color: #1754ce; */
}
.contenedor-resultado textarea {
  color: #495057;
  font-size: 25px;
  line-break: auto;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
}
/* .contenedor-resultado p {
  color: #495057;
  font-size: 25px;
  line-break: auto;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
} */

.contenedor-copiar {
  display: flex;
  min-width: 100%;
  order: 2;
  /* background-color: aqua; */
}
.btn-copiar {
  width: 100%;
  height: 67px;
  border-radius: 24px;
  background-color: #ffffff;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: 1px solid #0a3871;
  position: relative;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    gap: 0;
  }
  .seccion1_left {
    margin-left: 0%;
  }
  .contenedorcajatexto {
    height: 400px;
  }
  .btn-encriptar {
    width: 100%;
  }
  .btn-desencriptar {
    width: 100%;
  }
  .seccion2_right img {
    display: none;
  }
  .seccion2_right {
    margin-left: 0%;
    display: flex;
    width: 80%;
    width: 79%;
    height: 200%;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .contenedor-resultado {
    position: relative;
    display: flex;
    width: 80%;
    /*/ height: auto; */
    order: 1;
  }
  .contenedor-copiar {
    order: 0;
  }
  .contenedor-parrafo {
    order: 1;
  }
  .contenedor-botones {
    gap: 0;
  }
  textarea {
    width: 79%;
  }
}
@media (max-width: 480px) {
  .container {
    display: block;
    min-width: 375px;
  }
  .seccion1_left {
    display: flex;
    flex: 0 5 40%;
  }
  .seccion1_left {
    margin-left: 0%;
  }
  .seccion2_right {
    margin-left: 3%;
    height: 50%;
    width: 95%;
  }
  .contenedor-resultado {
    display: flex;
    width: 100%;
    order: 3;
    max-height: 10%;
  }
  .seccion2_right img {
    display: none;
  }
  .contenedor-copiar {
    order: 1;
  }
  .contenedor-parrafo {
    order: 2;
  }
  .contenedor-botones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contenedor-copiar {
    width: 100%;
  }
  .btn-copiar {
    width: 100%;
  }
  .cajabotones {
    width: 100%;
    gap: 1rem;
  }

  textarea {
    width: 100%;
  }
}
.presionado {
  background-color: green;
  color: white;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}
.ocultar {
  display: none;
}
.mostrar {
  display: block;
}
.estilo {
  box-shadow: 20px 20px 60px #9dc7ca, -20px -20px 60px #122f47;
  transition: box-shadow 0.5s ease-in-out;
}
